body{
    background-color: rgb(143, 235, 135);
    text-align: center;
}

.dice1{
    float: left;
    padding-left: 260px;
    width: 30%;
}
.dice2{
    float: right;
    padding-right: 260px;
    width: 30%;
}

h1{
    margin: 0;
    font-size: 5rem;
    font-family: 'Sacramento', cursive;
    color: deeppink;
}
p{
    font-size: 3rem;
    font-family: 'Sacramento', cursive;
    color: rgb(252, 76, 0);
}
.name{
    text-align: left;
    margin-top: 50px;
   
}
.dc{
    font-size: 10px;
    color: rgb(169, 169, 169);
}